os: linux
dist: trusty
language: cpp

env:
  - ARMADILLO=latest
  - ARMADILLO=minimum
  - SANITY_HISTORY=true

stages:
  - name: sanity
    if: env(TRAVIS_PULL_REQUEST) != true AND env(false) = true
  - name: cmake
    if: env(SANITY_HISTORY) != true
  - name: build
    if: env(SANITY_HISTORY) != true
  - name: test
    if: env(SANITY_HISTORY) != true

before_install:
  - sudo apt-get update
  - sudo apt-get install -y --allow-unauthenticated libopenblas-dev liblapack-dev g++ xz-utils
  - if [ $ARMADILLO == "latest" ]; then
      curl https://ftp.fau.de/macports/distfiles/armadillo/`curl https://ftp.fau.de/macports/distfiles/armadillo/ -- | grep '.tar.xz' | sed 's/^.*<a href="\(armadillo-[0-9]*.[0-9]*.[0-9]*.tar.xz\)".*$/\1/' | tail -1` | tar xvJ && cd armadillo*;
    fi
  - if [ $ARMADILLO == "minimum" ]; then
      curl https://ftp.fau.de/macports/distfiles/armadillo/armadillo-8.400.0.tar.xz | tar -xvJ && cd armadillo*;
    fi

jobs:
  include:
    - stage: sanity
      script: sh ./scripts/history-update-check.sh ; exit 0
    - stage: compile
      script: cmake . && make && sudo make install && cd ..
    - stage: build
      script: mkdir build && cd build && cmake -DCMAKE_CXX_FLAGS="-Werror" -DCMAKE_C_FLAGS="-Werror" .. && make -j2
    - stage: test
      script: CTEST_OUTPUT_ON_FAILURE=1 travis_wait 30 ctest -j2


notifications:
  email:
    - mlpack-git@lists.mlpack.org
  irc:
    channels:
      - "chat.freenode.net#mlpack"
    on_success: change
    on_failure: always
